* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.head-content {
  padding-top: 20px;
  padding-left: 20px;
}

.head-text {
  color: black;
}

main {
  width: 840px;
  margin: 0 auto;
  padding: 50px 0;
}

.service {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
